.component{
    padding-top: 80px;
}



.component-dark {
  background-color: #1A1A1A;
  color: #ffffff;
}

.component-light {
  background-color: #E0E8F6;
  color: #000000;
}

.text{
    margin: 60px;
}

@media screen and (max-width: 768px) {
    .text {
        margin: 20px;
    }
    
}

@media screen and (max-width: 480px) {
    .text {
        margin: 10px;
    }
    
}