<div class="home-container text-center">
    <div class="avatar-circle mx-auto">
        <img src="'assets/avatar.png'" alt="Avatar" class="avatar-img" />
    </div>
  
    <h1 class="name-title">
      <strong>Brahian Andrés</strong>
    </h1>
  
    <h2 class="role-title">
      <span class="text-primary">Software Engineer</span> 👨‍💻
    </h2>
  
    <p class="description mx-auto">
      As a passionate software engineer, with expertise in backend and frontend development,
      I thrive on building scalable and elegant applications that solve real-world problems.
    </p>
  
    <a class="btn contact-button mt-4" routerLink="/contact">Contact Me</a>
  </div>
  
