<div  [ngClass]="isDark ? 'background-dark':'background-light'" class="component">
    <div class="text-center">
      <div class="avatar-circle mx-auto">
        <img src="../../../assets/avatar.png" alt="Avatar" class="avatar-img" />
      </div>
      <h1>
        <strong>Brahian Andrés</strong>
      </h1>
      <h2 class="role-title text-primary fs-4">Software Engineer 👨‍💻</h2>
      <p class="description mx-auto">
        As a passionate software engineer...
      </p>
      <a class="btn contact-button mt-4" [ngClass]="isDark ? 'boton-dark': 'boton-dark'" routerLink="/contact">Contact Me</a>
    </div>
  </div>
  
