/* nav.component.css */
.navbar .nav-link:hover {
  text-decoration: underline;
}

.btn-contact {
  border-radius: 0.5rem;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
}

.btn-contact:hover {
  background-color: currentColor;
  color: white !important;
}
