<div class="container-fluid text-center component" [ngClass]="isDark ? 'component-dark' : 'component-light'">
    <h2 class="fw-bold text-primary" >What I do</h2>
    <p class="text-primary mb-5" [ngClass]="isDark ? 'text-white' : 'text-dark'">My Services</p>
  
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-lg-4" *ngFor="let service of services">
        <div class="card h-100 border-0 shadow-sm p-3 rounded-4" [ngClass]="isDark ? 'bg-dark text-white' : 'background-light text-dark'">
          <div class="d-flex align-items-start gap-3">
            <div class="bg-secondary-subtle p-2 rounded row">
              <span class="fs-4">{{ service.icon }}</span>
            </div>
            <div>
              <h5 class="card-title mb-2" [ngClass]="isDark ? 'tex-white':'tex-dark'">{{ service.title }}</h5>
              <p class="card-text text-secondary small">{{ service.description }}</p>
            </div>
          </div>
  
          <img *ngIf="service.image"
               [src]="service.image"
               alt="Service image"
               class="img-fluid rounded mt-3"
               style="max-height: 140px; object-fit: cover;" />
        </div>
      </div>
    </div>
  </div>
  
